/*.gcda
/*.gcno
/*.gcov
/*.o
/*.s
/.devel
/.make-tlok.tmp
/.suuid-test.tmp/
/gdbopts
/gmon.out
/gmon.sum
/logdir/
/suuid
/suuid.1
/suuid.1.tmp
/suuid.core
/suuid.html
/suuid.html.tmp
/suuid.pdf
/suuid.pdf.tmp
/tags
/testlockdir/
/version.h
